@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #320001;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 9%;
    background-color: white;
    height: 90px;
    width: 100vw;
    font-size: 1rem;
    z-index: 999;
    
}

.logo > img {
    height: 70px;
}

header a {
    text-decoration: none;
    color: #320001;
}

nav > a {
    margin-inline: .8rem;
}

nav > a:hover {
    color: #fb6503;
}

nav a:first-child {
    margin-left: 0;
}

.btn {
    padding: .5rem 1rem;
    border: .2rem solid #320001;
    color: #443;
    border-radius: 95% 4% 97% 5% / 4% 94% 3% 95%;
    text-decoration: none;
}

.bookTable:hover {
    border-color: #EF7D01;
    color: #EF7D01;
}

/* HOME  */

section {
    padding: 2rem 9%;
    scroll-margin-top: 80px;
}

#home {
    background: url(img/crackwhitebg.png);
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    padding-top: 9rem;
    padding-bottom: 100px;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.home-container > * {
    height: auto;
}

.home-text {
    min-width: 508.8px;
    max-width: 600px;
}

.home-img {
    margin-top: 4.5rem;
    max-width: 450px;  
    min-width: 360px;
}

.home-text h1 {
    font-size: 4rem;
    line-height: 1.2;
}

.home-text > p {
    margin-bottom: 1.5rem;
}

.home-text > a {
    font-size: 1.2rem;
}

.viewMenu {
    background-color: #fb6503;
    border: none;
    color: white;
    position: relative;
    z-index: 2;
}



/* ABOUT */
.heading {
    text-align: center;
}

.heading > h1 {
    font-size: 5rem;
    -webkit-text-stroke: 0.01rem #32000125;
    color: transparent;
    margin-bottom: .5rem;
    position: relative;
    margin-inline: auto;
    display: inline-block;
}

.heading > h1 > span {
    position: absolute;
    left: 25%;
    top: 35%;
    color: #320001;
    -webkit-text-stroke-color: transparent;
    font-size:  1.6rem;
    
}

#about {
    background: url(img/cracklattebg.png);
    background-size: cover;
    min-height: auto;
    width: 100vw;
    margin-top: -100px;
    padding-top: 3rem;
    padding-bottom: 100px;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text {
    height: auto;
    padding-inline: 5rem;
    color: #443;
}

.about-text > h2 {
    font-size: 2.4rem;
}

.about-text > p {
    margin-top: .5rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.about-img {
    border-radius: 51% 49% 47% 53% / 46% 43% 57% 54%;
    box-shadow: 0 0 5px 2px rgb(0, 0, 0);
    height: 370px;
}

.readMore {
    margin-top: 3rem;
    background-color: #fb6503;
    color: white;
    border: none;
}

.viewLoc {
    border: none;
    color: #fb6503;
    margin-left: .5rem;
}

.fa-location-dot {
    color: #fb6503;
}

.viewLoc:hover {
    background-color: #fb6503;
    color: white;

    .fa-location-dot {
        color: white;
    }
}

.fa-location-dot {
    color: #fb6503;
    margin-right: .3rem;
}

/* MENU */
#menu {
    background: url(img/crackpwhitebg.png);
    background-size: cover;
    min-height: auto;
    width: 100vw;
    margin-top: -60px;
    padding-bottom: 150px;
    padding-top: 4rem;
}

.menu-container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 4rem;
   flex-direction: column;
}

.menu-row {
    max-width: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.menu {
    height: 240px;
    width: 270px;
    overflow: hidden;
    
}

.dlMenu {
    border: none;
    color: #fb6503;
    margin-left: .5rem;
}

.dlMenu:hover {
    background-color: #fb6503;
    color: white;
    .fa-download {
    color: white;
    }
}

.fa-download {
    color: #fb6503;
    margin-right: .4rem;
}

.menu > img {
    height: 100%;
    position: relative;
}

.menu1 > img {
    height: 95%;
    left: 7%;
    top: 7%;
}

.menu2 > img {
    height: 70%;
    top: 15%;
    left: 10%;
}

.menu3 > img {
    height: 115%;
    bottom: 8%;
}

.menu5 > img {
    height: 85%;
    left: 13%;
    top: 5%;
}

.menu6 > img {
    height: 83%;
    left: 14%;
    top: 8%;
}






/* gallery */
#gallery {
    background: url(img/crackorangebg.png);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 372px;   
    margin-top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.pic {
    width: 250px;
    height: 220px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.541);
    border-radius: 5px;
}

.pic > img {
    height: 100%;
}


/* TEAM */
#team {
    background-color: white;
    min-height: auto;
    width: 100vw;
    padding-top: 3.5rem;
    padding-bottom: 4rem;
}

#team > .heading > h1 > span {
    left: 33%;
}

.team-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.team {
    height: 450px;
    width: 350px;
    border: 1px solid #320001;
    display: flex;
    justify-content: center;
}

.team > img {
    height: 100%;
}

/* BOOK */
#book {
    background: url(img/cracklattebg.png);
    min-height: auto;
    min-width: 100vw;
}

.book-container {
    display: flex;
    justify-content: center;
    gap: 5rem;
}


.book {
    height: 600px;
    width: 500px;
    border: 2px solid #320001;
}

.location {
    height: 400px;
    width: 500px;
    border: 2px solid #320001;
}

.location > iframe {
    height: 100%;
    width: 100%;
}

/* FOOTER */
footer {
    background-color: ghostwhite;
    min-height: auto;
    width: 100vw;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.footer-container > * {
    height: 250px;
    width: 200px;
    border: 1px solid #320001;
}

.footer-logo {
    height: 150px;
}

.subscribe {
    width: 350px;
    height: 200px;
}