body {
    background: linear-gradient(rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0.541)), url(https://images.unsplash.com/photo-1481627834876-b7833e8f5570?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Ym9vayUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
    color: rgba(248, 248, 255, 0.849);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: Tahoma;
    margin-top: -2rem;

}

.container {
    width:  500px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.774);
    border-radius: 5px;
    padding: 1rem 1.5rem;
    color: black;
    box-shadow: 0 0 10px;
}

.container p:first-child {
    line-height: 1.5;
    letter-spacing: 0.1rem;
}

.container p:last-child {
    font-size: 1.5rem;
    letter-spacing: 0.4rem;
    color: rgb(199, 103, 12);
    text-transform: uppercase;
}
button {
    background: transparent;
    border: 1px solid black;
    color: black;
    padding: .2rem .5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    
}

.qoute {
    display: none;
}

.qoute.is-active {
    display: block;
}