@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 120px;
}

body {
  font-family: "Poppins", sans-serif;
  background: ghostwhite;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  padding: 0 50px;
  background: white;
  border-bottom: 1px solid #e0e0e0;
}

#logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fa-code {
  font-size: 25px;
}

#nav-toggle {
  display: none;
}

#navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 300px;
}

#navbar ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#navbar ul li a:hover {
  color: rgb(52, 52, 207);
}

/* WELCOME-SECTION */

#welcome-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upper {
  display: flex;
}

.welcome-section-text {
  width: 500px;
  margin-right: 5rem;
  margin-top: 3rem;
  align-items: flex-start;
}

.welcome-section-text h1 {
  font-size: 3.5rem;
  line-height: 1;
  margin-bottom: 1rem;
}

.profile-img-container {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid black;
}

#profile-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.stack {
  width: 780px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4rem;
  margin-left: -110px;
}

.stack > ul {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  list-style-type: none;
}

.fa-brands {
  font-size: 1.4rem;
  color: black;
}

.stack ul .fa-brands {
  font-size: 2rem;
}

/* ABOUT ME */
#about-me {
  width: 100%;
  height: 720px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-me-container {
  display: flex;
  gap: 1.5rem;
  width: 850px;
  height: 350px;
  padding: 1rem;
  margin-inline: auto;
  border-radius: 3%;
  justify-content: center;
  align-items: center;
}

#about-me-container > * {
  width: 45%;
  height: 100%;
}

#about-me-container div > * {
  margin-bottom: 10px;
}

#about-me img {
  border-radius: 3%;
}

#about-me h2 {
  text-align: center;
  color: rgb(51, 51, 168);
  font-weight: 800;
}

#about-me p {
  text-align: justify;
}

.button-container {
  display: flex;
  justify-content: center;
}

#cv {
  font-family: Poppins;
  height: 2rem;
  width: 8rem;
}

/* PROJECTS */
#projects {
  margin: 10rem auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#projects > h2 {
  text-align: center;
  color: rgb(51, 51, 168);
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-inline: auto;
  width: 900px;
  height: 400px;
  background: white;
  box-shadow: 0 0px 10px grey;
  gap: 1rem;
  border-radius: 20px;
}

.project-img {
  /* background: yellow; */
  width: 450px;
  height: 300px;
}

.project-img > img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.project-details {
  width: 340px;
  height: 280px;
  padding: 1rem;
  text-align: center;
}

#project-heading {
  color: black;
}

/* CONTACT */
#contact {
  height: auto;
  width: 100%;
  text-align: center;
  background: white;
  padding: 2rem;
}

#contact h2 {
  font-size: 4rem;
}

.contact-icon-container i {
  color: black;
  font-size: 2rem;
  margin: 1rem;
  transition: transform 0.2s ease-in-out;
}

.contact-icon-container i:hover {
  transform: scale(1.5);
}

footer {
  height: auto;
  width: 100%;
  background: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.9rem 0;
}

/* RESPONSIVE */

@media screen and (max-width: 950px) {
  #welcome-section {
    margin-top: 100px;
    height: auto;
  }

  .welcome-section-text {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 0;
  }

  .upper {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .stack {
    width: 520px;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .stack :first-child {
    margin-bottom: 1rem;
  }

  .stack p:nth-child(2) {
    display: none;
  }

  /* ABOUT-ME */

  #about-me {
    margin-top: 10vh;
    height: 700px;
  }

  #about-me-container {
    flex-direction: column-reverse;
    width: 450px;
  }

  #about-me-container > * {
    margin-inline: auto;
    width: 95%;
  }

  /* PROJECTS */
  #projects {
    margin: 6rem auto;
  }

  .project {
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 2.5rem;
    border-radius: 5%;
  }

  .project.reverse {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 700px) {
  #nav-toggle {
    display: block;
    font-size: 2rem;
  }

  header {
    padding: 0 1rem;
  }

  #navbar {
    display: none;
    background-color: white;
    opacity: 0.9;
    position: absolute;
    width: 100%;
    height: calc(100vh - 70px);
    top: 70px;
    right: 0;
    justify-content: center;
    align-items: center;
  }

  #navbar ul {
    width: 100vw;
    flex-direction: column;
  }

  #navbar ul li {
    margin: 2rem 0;
  }

  #navbar.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 550px) {
  header {
    height: 60px;
  }

  #nav-toggle {
    font-size: 1.7rem;
  }

  .profile-img-container {
    height: 280px;
    width: 280px;
  }

  #welcome-section {
    width: 95vw;
    margin-inline: auto;
  }

  .welcome-section-text {
    width: 100%;
  }

  .welcome-section-text h1 {
    font-size: 2.8rem;
  }

  .welcome-section-text p {
    font-size: 0.8rem;
  }

  .welcome-section-text h1,
  .welcome-section-text p {
    word-wrap: break-word;
  }

  .stack {
    width: 95vw;
  }

  /* ABOUT ME */

  #about-me-container {
    width: 85%;
    height: 600px;
  }

  /* PROJECTS */
  .project {
    width: 90%;
    padding: 2rem 1rem;
  }

  .project-img {
    width: 95%;
    height: auto;
  }

  .project-details {
    width: 95%;
    height: 280px;
  }

  /*CONTACT */
  #contact h2 {
    font-size: 2.9rem;
    line-height: 1;
    margin-bottom: 1rem;
  }

  .contact-icon-container i {
    margin: 0.2rem;
  }
}
